<!DOCTYPE html>
<html>
<head>
    <title>订单管理</title>
</head>
<body>
    <% include include/top.html %>
	<table>
        <tbody>
            <tr>
                <th>内容</th>
                <th>用户</th>
                <th>联系方式</th>
                <th>来源IP</th>
                <th>显示</th>
                <th>操作</th>
            </tr>
            <tr>
                <td>牛逼阿！</td>
                <td>王七蛋</td>
                <th>13111111111</th>
                <th>127.0.0.1</th>
                <th><input type="checkbox" name="is_display" value="1" checked="checked" /></th>
                <td><a href="#">查看</a> | <a href="#">删除</a></td>
            </tr>
        </tbody>   
    </table>
    <% include include/footer.html %>
</body>
</html>