<!DOCTYPE html>
<html>
<head>
    <title>订单管理</title>
</head>
<body>
    <% include include/top.html %>
    <form action="goods_save" method="post">
        <input name="goods_id" type="hidden" value="0" />
        产品名称：
            <% if(locals.goods_name){ %>
                <input name="goods_name" type="text" value="<%= goods_name %>" />
            <% } else { %>
                <input name="goods_name" type="text" />
            <% } %>
            <br>
        所属分类：
            <% if(locals.cat_id){ %>
                <input name="cat_id" type="text" value="<%= cat_id %>" />
            <% } else { %>
                <input name="cat_id" type="text" />
            <% } %>
            <br>
        产品说明：
            <% if(locals.goods_desc){ %>
                <textarea name="goods_desc" type="text"><%= goods_desc %></textarea>
            <% } else { %>
                <textarea name="goods_desc" type="text"></textarea>
            <% } %>
            <br>
        产品价格：
            <% if(locals.goods_price){ %>
                <input name="goods_price" type="text" value="<%= goods_price %>" />
            <% } else { %>
                <input name="goods_price" type="text" />
            <% } %>
            <br>
        产品图片：
            <% if(locals.image){ %>
                <input type="file" name="image" accept="image/*" value="<%= image %>" />
            <% } else { %>
                <input type="file" name="image" accept="image/*" />
            <% } %>
            <br>
        <input name="submit" type="submit" value="保存" />
    </form>
    <% include include/footer.html %>
</body>
</html>