<!DOCTYPE html>
<html>
<head>
    <title>管理面板</title>
</head>
<body>
	<ul>
		<li><a href="order">订单列表</a></li>
		<li><a href="order_info">订单详细</a></li>
		<li><a href="goods">产品列表</a></li>
		<li><a href="goods_info">产品详细</a></li>
		<li><a href="comment">评论列表</a></li>
		<li><a href="manage">网站管理</a></li>
	</ul>
	<h1>概况</h1>
	<h3>今日订单</h3>
    <p>
    	数量：10
    <br>
    	总额：500
    </p>
    <h3>本月订单</h3>
    <p>
    	数量：10
    <br>
    	总额：500
    </p>
    <h2>访问统计</h2>
    <p>
    	今日访问：5
    	<br>
    	在线人数：150
    	<br>
    	所有留言：13
    	<br>
    	未审核留言：3
    </p>
</body>
</html>