<!DOCTYPE html>
<html>
<head>
    <title>网站管理</title>
</head>
<body>
	<% include include/top.html %>
	<form action="act_manage" method="post">
	    商店名称：<input type="text" name="shop_name"></input><br>
	    商店描述：<input type="text" name="shop_remark"></input><br>
	    商店地址：<input type="text" name="shop_address"></input><br>
	    营业时间：<input type="text" name="shop_time"></input><br>
	    联系电话：<input type="text" name="shop_phone"></input><br>
	    电子邮件：<input type="text" name="shop_mail"></input><br>
	    <input name="submit" type="submit" value="保存" />
    </form>
    <% include include/footer.html %>
</body>
</html>