<% include include/header.html %>
<body>
	<div class="contents">
		<div class="am-container am-padding-0">
			<div class="nav_son">
				<ul class="am-avg-sm-4  am-avg-md-8  am-avg-lg-8 am-text-centers">
					<li><a href="category">分类1</a></li>
					<li><a href="category">分类2</a></li>
					<li><a href="category">分类3</a></li>
					<li><a href="category">分类4</a></li>
				</ul>
			</div>
		</div>

		<div>
			<ul>
				<li>
					<img src="http://pic48.huitu.com/res/20160113/665476_20160113004509936500_1.jpg" height="250" width="250">
					<p>火腿鸡蛋炒饭</p>
					<p>月售：100</p>
					<p>价格：5 Euro</p>

				</li>
			</ul>
		</div>

	</div>
</body>
<% include include/footer.html %>