<% include include/header.html %>
<body>
	<div>
		<img src="http://pic48.huitu.com/res/20160113/665476_20160113004509936500_1.jpg" height="250">
		<h3>火腿鸡蛋炒饭</h3>
		<p>分类：炒饭</p>
		<p>月售：100</p>
		<p>价格：5 Euro</p>
		<p>规格：
			小份 <input type="radio" name="attr_1" value="1" checked/>
			大份 <input type="radio" name="attr_2" value="2" />
		</p>
		<p>数量：
			<input class="" name="" type="button" value="-" />
			<input class="" name="goods_num" type="text" value="1" style="width:25px;" />
			<input class="" name="" type="button" value="+" />
		</p>
		<p>
			<input type="button" value="加入购物车" />
			<input type="button" value="我的购物车" />
		</p>
	</div>
	<div>
		<ul>
			<li>
				<h4>匿名评论</h4>
				<small> - 2018-4-9</small>
				<p>好吃！！！！！！！</p>
			</li>
			<li>
				<h4>匿名评论</h4>
				<small> - 2018-4-9</small>
				<p>好吃！！！！！！！</p>
			</li>
			<li>
				<h4>匿名评论</h4>
				<small> - 2018-4-9</small>
				<p>好吃！！！！！！！</p>
			</li>
		</ul>
	</div>
</body>
<% include include/footer.html %>