<% include include/header.html %>
<body>
	<div class="banner banner_case">
    	<div class="am-container">
	        <h2 class="am-scrollspy-init am-scrollspy-inview am-animation-scale-down" data-am-scrollspy="{animation: 'scale-down'}">作品，是检验设计能力的标准</h2>
	        <p class="am-scrollspy-init am-scrollspy-inview am-animation-scale-down" data-am-scrollspy="{animation: 'scale-down'}">用没用心，客户虽然看不到，但是一定感受的到。</p>
        </div>
	</div>

	<div class="contents_about">
		<div class="am-container am-padding-0">
			<div class="case">
				<ul class="am-avg-sm-1 am-avg-md-3 am-avg-lg-3">
					<li class="am-scrollspy-init am-scrollspy-inview am-animation-scale-up">
						<a href="category">
							<dt class="am-text-center"><img src="/images/cat_1.jpg" title="分类1" alt="分类1" class="am-img-responsive"></dt>
						</a>
						<h3 class="am-text-truncate ">分类1</h3>
					</li>
					<li class="am-scrollspy-init am-scrollspy-inview am-animation-scale-up">
						<dt class="am-text-center"><img src="/images/cat_2.jpg" title="分类2" alt="分类2" class="am-img-responsive"></dt>
						<h3 class="am-text-truncate ">分类2</h3>
					</li>
					<li class="am-scrollspy-init am-scrollspy-inview am-animation-scale-up">
						<dt class="am-text-center"><img src="/images/cat_3.jpg" title="分类3" alt="分类3" class="am-img-responsive"></dt>
						<h3 class="am-text-truncate ">分类3</h3>
					</li>
					<li class="am-scrollspy-init am-scrollspy-inview am-animation-scale-up">
						<dt class="am-text-center"><img src="/images/cat_4.jpg" title="分类4" alt="分类4" class="am-img-responsive"></dt>
						<h3 class="am-text-truncate ">分类4</h3>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<% include include/footer.html %>